/*

      TABS TO DROPDOWN
     fully respsonsive
   - christian wijnia -

*/

/* General */
html,body {
    height:100%;
}
body {
    background-image:url(http://upload.wikimedia.org/wikipedia/commons/1/1b/Nice-night-view-with-blurred-cars_1200x900.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:Roboto, Arial, serif; font-weight: 500;
}
a {
    text-decoration:none;
}

/* Header */
header {
    background:rgb(45, 62, 80);
    height:90px;
    position:relative;
    z-index:1;
    transition:all .2s ease;
}
header h1#logo {
    position:absolute;
    top:0;bottom:0;left:0;
    width:90px;
    text-align:center;
    overflow:hidden;
    margin:0;
    transition:all .2s ease
}
header h1#logo a {
    color:#fff;
    display:block;
    line-height:90px;
    transition:all .2s ease;
    font-size:34px;
    background:rgb(25, 189, 155);
}
header h1#logo a:hover {
    opacity:.85;
}
header h1#logo a:active {
    opacity:.7;
    transition:all 0s ease;
}

/* Tabs bar */
.tabs-bar {
    position:absolute;
    left:90px;right:0;
    top:0;bottom:0;
    padding:0 20px;
    z-index:15;
    background:rgb(45, 62, 80);
    overflow:hidden;
}
.tabs-bar .tabs-list-container {
    width: 99999px;
}
.tabs-bar .tabs-list {
    margin:0;padding:0;
    list-style:none;
    display:inline-block;
}
.tabs-bar .tabs-list:after {
    display:table;
    content:"";
    clear:both;
}
.tabs-bar .tabs-list li {
    display:inline-block;
    float:left;
    opacity:1;
    transition:all .4s ease;
}
.tabs-bar .tabs-list li.hide{
    opacity:0;
}
.tabs-bar .tabs-list li.hide a{
    cursor:default;
}
.tabs-bar .tabs-list li a {
    display:inline-block;
    transition:all .2s ease;
    color:rgba(255,255,255,1);
    font-size:16px;
    padding:0 20px;
    text-transform:uppercase;
    line-height:90px;

}
.tabs-bar .tabs-list li a:hover {
    color:rgb(25, 189, 155);

}
.tabs-bar .tabs-list li a:active {
    transition:all 0 ease;
    color:rgba(25, 189, 155,.65);
}

/* Dropwdown */
#dropdown-toggle {
    border:0;outline:0;box-shadow:none;
    display:inline-block;
    transition:all .2s ease;
    z-index:10;position:relative;
    text-align:center;
    line-height:90px;
    background:none;
    padding:0;
    color:rgba(255,255,255,1);
    font-size:25px;
    margin:0 20px;
    position:absolute;
    top:0;right:0;
    opacity:0;
    cursor:pointer;
}
#dropdown-toggle.show {
    opacity:1;
}
#dropdown-toggle:hover {
    color:rgb(25, 189, 155);
}
#dropdown-toggle:active,
#dropdown-toggle.open{
    transition:all 0s ease;
    color:rgba(25, 189, 155,.65);
}
.dropdown {
    position:absolute;
    top:0;right:0;
    opacity:0;
    transition:all .2s ease;
    z-index:0;
}
.dropdown.show {
    opacity:1;
}
.dropdown ul {
    list-style:none;
    margin:0;padding:0;
    position:absolute;
    top:60px;right:0;
    background:red;
    max-width:300px;
    transition:all .2s ease;
    background:rgba(45, 62, 80,.8);
    opacity:0;
}
.dropdown.open ul {
    opacity:1;
    top:90px;
}
.dropdown ul li {
    margin:0;padding:0;
    transition:all .4s ease;
    opacity:0;
    max-height:0;
    float:left;
    width:100%;
    position:relative;
    overflow:hidden;
    cursor:pointer;
}
.dropdown ul li.show{
    opacity:1;
    max-height:50px;
    float:none;
}
.dropdown ul li a {
    display:block;
    transition:all .2s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:rgba(255,255,255,1);
    padding:15px 15px;
    text-transform:uppercase;
    font-size:14px;
    line-height:18px;
}
.dropdown ul li:hover a {
    background:rgb(25, 189, 155);
}
.dropdown ul li:active a {
    background:rgba(25, 189, 155,.65);
}

/* Main */
main{
    height: 100%;
    display: table;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 90px;
    outline: 1px solid red;
    background:rgba(45, 62, 80,.4);
}
main article {
    display:table-cell;
    vertical-align:bottom;
    color:rgba(255,255,255,.9);
    text-align:right;
    padding:7.5% 5%;
}
main article h2 {
    padding:20px;
    font-size:60px;
    background:rgba(19, 32, 45,.4);
    display:inline-block
}
main article h2 small{
    font-size:30px;
    display:block;
    color:rgba(25, 189, 155,1);
    text-transform:uppercase
}
@media all and (max-width: 699px) {
    /* header */
    header {
        height:50px;
    }
    header h1#logo {
        width:50px;
    }
    header h1#logo a {
        line-height:50px;
        font-size:24px;
    }

    /* Tabs bar */
    .tabs-bar {
        left:50px;
        padding:0 30px 0 10px;
    }
    .tabs-bar .tabs-list li a {
        font-size:14px;
        padding:0 15px;
        line-height:50px;
    }

    /* Dropdown */
    #dropdown-toggle {
        line-height:50px;
        font-size:22px;
        margin:0 20px;
    }
    .dropdown ul {
        top:30px
    }
    .dropdown.open ul {
        top:50px;
    }

    /* Main */
    main{
        padding-top: 50px;
    }
    main article {
        padding:7.5% 3.75%;
    }
    main article h2 {
        padding:20px;
        font-size:35px;
    }
    main article h2 small{
        font-size:25px;
        display:block;
    }
};
